#root {
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 1em;
  border-radius: 3em;
  backdrop-filter: blur(2px);
}

.contact-button {
  position: relative;
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
}

.contact-button::before,
.contact-button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #ffffff;
  z-index: 1;
  transform-origin: center;
}

.contact-button::before {
  transform: skewY(5deg);
}

.contact-button::after {
  transform: skewY(-5deg);
}

.contact-button:hover::before,
.contact-button:hover::after {
  top: -20px;
}

.buttons {
  display: flex;
  margin-top: 3vh;
  flex-direction: column;
  gap: 30px;
}

.description {
  margin: 0;
  max-width: 80vw;
}

/* .name {
  color: rgb(104, 127, 89);
} */

.drawing-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.drawing-container img {
  width: 90%;
  max-width: 600px;
  height: auto;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 5vh;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 100%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #fff);
}

.footer {
  color: black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
